.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__content {
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 28px 28px 36px;
  font-family: "CabinetGrotesk-Medium", serif;
  font-size: 16px;
  line-height: 20px;
}
.modal__form-title {
  font-size: 16px;
  margin: 0 0 24px;
  width: 95px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__submit-button {
  width: 124px;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.modal__submit-button:hover {
  cursor: pointer;
}

.modal__form-input {
  width: 440px;
  margin: 8px auto 24px;
  border: none;
  border-bottom: 1px solid black;
}

.modal__form-label {
  width: 42px;
  margin-bottom: 8px;
}

.modal__weather-type {
  margin-bottom: 32px;
}

.modal__weather-option {
  margin: 8px 0 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.modal__weather-title {
  margin: 0 auto 12px;
}

.modal__close-button {
  background: transparent url("../../images/close-button.svg") center no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  position: relative;
  top: -10px;
  left: 480px;
}

.modal__close-button:hover {
  cursor: pointer;
}

.modal__weather-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
