.profile {
  display: flex;
  flex-direction: row;
  margin: 47px auto 0;
  gap: 175px;
}

@media screen and (max-width: 800px) {
  .profile {
    flex-direction: column;
    gap: 25px;
    justify-content: center;
  }
}
