.card__section {
  margin: 40px auto 0;
  font-size: 20px;
}

.card__name {
  text-align: center;
}

.card__image {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  border: 1px red;
}

.card__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 34px;
}
