.header {
  height: 60px;
  padding: 15px 20px;
  font-size: 18px;
  font-family: "CabinetGrotesk-Medium", serif;
  font-weight: 600;
}

.mobile {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-icon {
  background: transparent;
  border: none;
}

.header__menu-icon:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.header__menu-icon-image {
  width: 30px;
  height: 30px;
}

.header__mobile-container {
  display: none;
  visibility: hidden;
}

.header__mobile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__info-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
}

.header__button {
  line-height: 24px;
  font-size: 18px;
  border: none;
  background: none;
  font-size: 18px;
  font-family: "CabinetGrotesk-Medium", serif;
  font-weight: 600;
}

.header__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .header__content {
    display: none;
    visibility: hidden;
  }

  .header__mobile-container {
    visibility: visible;
    display: contents;
  }
}
