.header {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}

.header__mobile {
  height: 60px;
  font-size: 18px;
  font-family: "CabinetGrotesk-Medium", serif;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  min-width: 320px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-icon {
  background: transparent;
  border: none;
}

.header__menu-icon:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.header__menu-icon-image {
  width: 30px;
  height: 30px;
}

.header__mobile-container {
  display: none;
  visibility: hidden;
  width: 100%;
}

.header__mobile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__mobile-close {
  background: transparent url("../../images/mobile_close.svg") center no-repeat;
  width: 25px;
  height: 25px;
  border: none;
  padding: 0;
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 2;
  cursor: pointer;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "CabinetGrotesk-Medium", serif;
  font-weight: 600;
}

.header__info-container {
  display: flex;
  align-items: center;
  font-family: "CabinetGrotesk-Medium", serif;
  font-weight: 600;
  gap: 20px;
}

.header__avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
}

.header__button {
  line-height: 24px;
  font-size: 18px;
  border: none;
  background: none;
  font-size: 18px;
  font-family: "CabinetGrotesk-Medium", serif;
  font-weight: 600;
}

.header__button:hover {
  cursor: pointer;
}

.header__mobile-menu {
  height: 350px;
  padding: 15px;
  position: absolute;
  top: 0;
  min-width: 320px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #00a3ff;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.header__mobile-menu-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 15px;
  min-width: 320px;
  color: white;
  font-size: 25px;
  font-family: "CabinetGrotesk-Medium", serif;
  font-weight: 600;
  text-align: center;
}

.opened {
  visibility: visible;
}

@media screen and (max-width: 750px) {
  .header__content {
    display: none;
    visibility: hidden;
  }

  .header__mobile-container {
    visibility: visible;
    display: contents;
  }
}
