.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  font-family: "CabinetGrotesk-Medium", serif;
  font-size: 18px;
  line-height: 20px;
}

.modal__image-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__info-container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.modal__delete-button_visible {
  display: flex;
  align-items: flex-start;
  outline: none;
  border: none;
  background: none;
  color: red;
  cursor: pointer;
  padding: 0;
  width: 100px;
}

.modal__image {
  max-width: 100%;
  border-radius: 5%;
  object-fit: cover;
}

@media screen and (max-height: 650px) {
  .modal__content {
    width: 75%;
    height: 75%;
  }
  .modal__image {
    height: 400px;
  }
}
