.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20px auto;
  gap: 18px;
  width: 230px;
  min-width: 160px;
}

.sidebar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.sidebar__profile-data {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}

.sidebar__profile-text {
  font-family: "CabinetGrotesk-Medium", serif;
  font-size: 18px;
  font-weight: 700;
  margin: 8px 0;
}

.sidebar__user-button {
  margin: 0;
  font-family: "CabinetGrotesk-Medium", serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .sidebar {
    justify-content: center;
    margin: 0 auto;
  }

  .sidebar__container {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
  }

  .sidebar__avatar {
    width: 200px;
    height: 200px;
  }

  .sidebar__profile-text {
    font-size: 30px;
  }

  .sidebar__profile-data {
    text-align: center;
    margin: 0 auto;
  }

  .sidebar__user-button {
    font-size: 25px;
    text-align: center;
  }
}
