.profile__clothes-text-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profile__clothes-add-button {
  font-family: "CabinetGrotesk-Medium", serif;
  font-size: 18px;
  font-weight: 700;
  color: #00000099;
  background: none;
  border: none;
  cursor: pointer;
}

.profile__clothes-title {
  font-family: "CabinetGrotesk-Medium", serif;
  font-size: 18px;
  font-weight: 700;
}
